<div class="container">
  <h1>{{this.id==0?'Agregar':'Editar'}}</h1>
  <form #jobForm="ngForm">
    <div class="form-group">
      <label for="title">Título</label>
      <input type="text" class="form-control" id="title" name="title" [(ngModel)]="jobOffer.title" required>
    </div>

    <div class="form-group">
      <label for="description">Descripción</label>
      <textarea class="form-control" id="description" name="description" [(ngModel)]="jobOffer.description" required></textarea>
    </div>

    <div class="form-group">
      <label for="salary">Salario</label>
      <input type="number" class="form-control" id="salary" name="salary" [(ngModel)]="jobOffer.wage" required>
    </div>

    <div class="form-group">
      <label for="snippet">Snippet</label>
      <textarea class="form-control" id="snippet" name="snippet" [(ngModel)]="jobOffer.snippet" required></textarea>
    </div>

    <div class="form-group">
      <label for="urlImage">URL de la imagen</label>
      <input type="text" class="form-control" id="urlImage" name="urlImage" [(ngModel)]="jobOffer.bannerPicture" required>
    </div>

    <button (click)="submitForm()" type="submit" class="btn btn-primary">Guardar</button>
    <button (click)="backPage()" class="btn btn-danger">Cancelar</button>
  </form>
</div>
