<div class="container d-flex align-items-center justify-content-center vh-100" *ngIf="step==0">
    <div class="row w-100">
      <div class="col-6 col-sm-6 " >
        <div class="row" fxLayout="row" fxLayoutAlign="space-around center">
          <img src="https://static.vecteezy.com/system/resources/previews/006/562/034/original/actively-seeking-new-job-opportunities-semi-flat-rgb-color-illustration-bearded-man-isolated-cartoon-character-on-white-background-vector.jpg" class="img-fluid" style="max-width: 300px" alt="...">
        </div>
        <div class="row mt-4" fxLayout="row" fxLayoutAlign="space-around center">
          <div class="btn btn-primary w-50" (click)="step=1">POSTULANTE</div>
        </div>
      </div>

      <div class="col-6 col-sm-6 " >
        <div class="row" fxLayout="row" fxLayoutAlign="space-around center">
          <img src="https://img.freepik.com/vector-premium/buscando-activamente-candidatos-trabajo-ilustracion-vector-color-rgb-semiplano-empleador-masculino-personaje-dibujos-animados-aislado-sobre-fondo-blanco_106317-17103.jpg?w=2000" class="img-fluid" style="max-width: 300px" alt="...">
        </div>
        <div class="row mt-4" fxLayout="row" fxLayoutAlign="space-around center">
          <div class="btn btn-primary w-50" (click)="step=2">EMPLEADOR</div>
        </div>
      </div>

    </div>
  </div>

<section class="vh-100" *ngIf="step==1">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://static.vecteezy.com/system/resources/previews/006/562/034/original/actively-seeking-new-job-opportunities-semi-flat-rgb-color-illustration-bearded-man-isolated-cartoon-character-on-white-background-vector.jpg"
             class="img-fluid" style="max-height: 500px" alt="Phone image">
      </div>

      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <div class="text-primary text-center" style="font-size: 60px; font-weight: bold; font-family: Roboto,serif">POSTULANTE</div>
        <div class="row g-3 needs-validation" style="max-width: 500px" novalidate>
          <div class="col-md-12">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" [formControl]=email id="email" required>
            <div class="invalid-feedback">
              Please provide a valid city.
            </div>
          </div>
          <div class="col-md-6">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" [formControl]=password id="password" required>
            <div class="invalid-feedback">
              Please provide a valid city.
            </div>
          </div>
          <div class="col-md-6">
            <label for="confirmPassword" class="form-label">Repetir Contraseña</label>
            <input type="password" class="form-control" [formControl]=confirmPassword id="confirmPassword" required>
            <div class="invalid-feedback">
              Please provide a valid city.
            </div>
          </div>

          <div class="col-12">

            <button class="btn btn-primary" [disabled]="loading" (click)="onPostulantRegister()" >
              <div class="spinner-border" *ngIf="loading" role="status">
              </div>
              <span class="sr-only">Loading...</span>
              CONTINUAR</button>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>

<section class="vh-100" *ngIf="step==2">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://img.freepik.com/vector-premium/buscando-activamente-candidatos-trabajo-ilustracion-vector-color-rgb-semiplano-empleador-masculino-personaje-dibujos-animados-aislado-sobre-fondo-blanco_106317-17103.jpg?w=2000"
             class="img-fluid" style="max-height: 500px" alt="Phone image">
      </div>

      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <div class="text-primary text-center" style="font-size: 60px; font-weight: bold; font-family: Roboto,serif">EMPLEADOR</div>
        <div class="row g-3 needs-validation" style="max-width: 500px" novalidate>
          <div class="col-md-12">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" [formControl]=email id="email" required>
            <div class="invalid-feedback">
              Please provide a valid city.
            </div>
          </div>
          <div class="col-md-6">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" [formControl]=password id="password" required>
            <div class="invalid-feedback">
              Please provide a valid city.
            </div>
          </div>
          <div class="col-md-6">
            <label for="confirmPassword" class="form-label">Repetir Contraseña</label>
            <input type="password" class="form-control" [formControl]=confirmPassword id="confirmPassword" required>
            <div class="invalid-feedback">
              Please provide a valid city.
            </div>
          </div>

          <div class="col-12">

            <button class="btn btn-primary" [disabled]="loading" (click)="onCompanyRegister()" >
              <div class="spinner-border" *ngIf="loading" role="status">
              </div>
              <span class="sr-only">Loading...</span>
              CONTINUAR</button>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>



