<section *ngIf="role==2" class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">

      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <div class="text-primary text-center" style="font-size: 80px; font-weight: bold; font-family: Roboto,serif">PERFIL</div>
        <div>
          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="companyName">Company name</label>
            <input type="text" id="companyName" [formControl]=companyName class="form-control form-control-lg" />
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="description">Description</label>
            <input type="text" id="description" [formControl]=description class="form-control form-control-lg" />
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="websiteUrl">Web Site Url</label>
            <input type="text" id="websiteUrl" [formControl]=websiteUrl class="form-control form-control-lg" />
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="profilePicture">Picture Url</label>
            <input type="text" id="profilePicture" [formControl]=profilePicture class="form-control form-control-lg" />
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="bannerPicture">Banner Picture Url</label>
            <input type="text" id="bannerPicture" [formControl]=bannerPicture class="form-control form-control-lg" />
          </div>

          <div class="d-flex w-100 justify-content-center">
            <div class="d-grid gap-2 w-75">
              <button class="btn btn-primary" type="button" >
                <div class="spinner-border" *ngIf="loading" role="status">
                </div>
                <span class="sr-only">Loading...</span>Registrarse</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="role==1" class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">

      <div class="col-md-8">
        <div class="text-primary text-center" style="font-size: 80px; font-weight: bold; font-family: Roboto,serif">PERFIL</div>
        <div class="row">
          <div class="col-6">
            <div>
              <!-- Email input -->
              <div class="form-outline mb-4">
                <label class="form-label" for="firstName">First Name</label>
                <input type="text" id="firstName" [formControl]=firstName class="form-control form-control-lg" />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="lastName">Last name</label>
                <input type="text" id="lastName" [formControl]=lastName class="form-control form-control-lg" />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="salary">Salary</label>
                <input type="number" id="salary" [formControl]=salary class="form-control form-control-lg" />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="email">Email</label>
                <input type="email" id="email" [formControl]=email class="form-control form-control-lg" />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="phoneNumber">Phone Number</label>
                <input type="number" id="phoneNumber" [formControl]=phoneNumber class="form-control form-control-lg" />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="workingPlaces">Working Places</label>
                <input type="text" id="workingPlaces" [formControl]=workingPlaces class="form-control form-control-lg" />
              </div>




            </div>

          </div>
          <div class="col-6">
            <div>
              <!-- Email input -->

              <div class="form-outline mb-4">
                <label class="form-label" for="languages">Languages</label>
                <input type="text" id="languages" [formControl]=languages class="form-control form-control-lg" />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="skills">Skills</label>
                <input type="text" id="skills" [formControl]=skills class="form-control form-control-lg" />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="studyCenter">Study Center</label>
                <input type="text" id="studyCenter" [formControl]=studyCenter class="form-control form-control-lg" />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="about">About me</label>
                <input type="text" id="about" [formControl]=about class="form-control form-control-lg" />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="profilePicture">Profile Picture Url</label>
                <input type="text" id="profilePicture" [formControl]=profilePicture class="form-control form-control-lg" />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="bannerPicture">Banner Picture Url</label>
                <input type="text" id="bannerPicture" [formControl]=bannerPicture class="form-control form-control-lg" />
              </div>


            </div>

          </div>
          <div class="d-flex w-100 justify-content-center">
            <div class="d-grid gap-2 w-50">
              <button class="btn btn-primary" type="button" >
                <div class="spinner-border" *ngIf="loading" role="status">
                </div>
                <span class="sr-only">Loading...</span>Registrarse</button>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>
