

<div class="btn btn-side-bar">
  <span class="fa fa-bars"></span>
</div>
<nav class="sidebar">
  <div class="text">
    Job-Bag
  </div>
  <ul class="main_side">
<!--    <li class="active"><a href="#">Dashboard</a></li>-->
<!--    <li>-->
<!--      <a href="#" id="1">Pages-->
<!--        <span class="fa fa-caret-down"></span>-->
<!--      </a>-->
<!--      <ul class="item-show-1">-->
<!--        <li><a href="#">Contact us</a></li>-->
<!--        <li><a href="#">Our Team</a></li>-->
<!--      </ul>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a href="#" id="2">Services-->
<!--        <span class="fa fa-caret-down"></span>-->
<!--      </a>-->
<!--      <ul class="item-show-2">-->
<!--        <li><a href="#">App Design</a></li>-->
<!--        <li><a href="#">Web Design</a></li>-->
<!--      </ul>-->
<!--    </li>-->
    <li><a href="/home/candidate">Candidate</a></li>
    <li><a href="/home/employer">Employer</a></li>
    <li><a href="#">Bookmark</a></li>
    <li><a href="#">Files</a></li>
  </ul>
</nav>
<div class="content">

    <div class="d-flex justify-content-between align-items-center" style="height: 60px; background-color: #1954AE;color: white;">
      <div></div>
      <div class="d-flex flex-column align-items-center ">
        <img class="figure-img rounded-circle" src="" alt="" style="width: 30px;height: 30px">
        JO-BAG
      </div>
      <div>
        <img class="rounded-circle" src="" alt="" style="width: 30px;height: 30px; margin: 10px">
        Bienvenido(a) perro
        <button class="btn btn-light " style="margin: 10px">Log-Out</button>
      </div>


  </div>
  <router-outlet></router-outlet>
</div>








