<!--<div class="example-container">-->
<!--  <mat-toolbar color="primary">-->
<!--    <button mat-icon-button (click)="sidenav.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">-->
<!--      <mat-icon>menu</mat-icon>-->
<!--    </button>-->
<!--    <span>Jo-Bag</span>-->
<!--    <span class="example-spacer"></span>-->
<!--    <span style="padding-right: 10px">Bienvenido - Tilin</span>-->
<!--    <button mat-flat-button class="example-icon" aria-label="Example icon-button with share icon">Logout</button>-->
<!--  </mat-toolbar>-->
<!--  <mat-sidenav-container class="example-sidenav-container">-->
<!--    <mat-sidenav #sidenav mode="side" [(opened)]="opened">-->
<!--      Sidenav content-->
<!--    </mat-sidenav>-->
<!--    <mat-sidenav-content>-->
<!--      <router-outlet></router-outlet>-->
<!--    </mat-sidenav-content>-->
<!--  </mat-sidenav-container>-->

<!--</div>-->


