<!--<h1 style="width: 100%; text-align: center; margin: 50px; color: #225AAE">MIS ANUNCIOS</h1>-->
<!--<mat-grid-list cols="4" rowHeight="1:2" style="margin: 50px">-->
<!--  <mat-grid-tile colspan="1" >-->
<!--    <div style="display: flex; flex-direction: column; align-items: center; justify-content: flex-start; height: 100%;">-->
<!--      <mat-card style="background-color: #225AAE; color: white">-->
<!--        <mat-card-header>-->
<!--          <mat-card-title>FILTROS</mat-card-title>-->
<!--        </mat-card-header>-->
<!--        <mat-card-content>-->
<!--          <mat-list role="list" style="display: flex; flex-direction: column; align-items: center;">-->
<!--            <mat-form-field>-->
<!--              <mat-label>Lugar de trabajo</mat-label>-->
<!--              <mat-select #fontSize value="16px" >-->
<!--                <mat-option value="10px">10px</mat-option>-->
<!--                <mat-option value="12px">12px</mat-option>-->
<!--                <mat-option value="14px">14px</mat-option>-->
<!--                <mat-option value="16px">16px</mat-option>-->
<!--                <mat-option value="18px">18px</mat-option>-->
<!--                <mat-option value="20px">20px</mat-option>-->
<!--              </mat-select>-->
<!--            </mat-form-field>-->
<!--            <mat-form-field>-->
<!--              <mat-label>Fecha de publicación</mat-label>-->
<!--              <mat-select #fontSize value="16px" >-->
<!--                <mat-option value="10px">10px</mat-option>-->
<!--                <mat-option value="12px">12px</mat-option>-->
<!--                <mat-option value="14px">14px</mat-option>-->
<!--                <mat-option value="16px">16px</mat-option>-->
<!--                <mat-option value="18px">18px</mat-option>-->
<!--                <mat-option value="20px">20px</mat-option>-->
<!--              </mat-select>-->
<!--            </mat-form-field>-->
<!--            <mat-form-field>-->
<!--              <mat-label>Experiencia laboral</mat-label>-->
<!--              <mat-select #fontSize value="16px" >-->
<!--                <mat-option value="10px">10px</mat-option>-->
<!--                <mat-option value="12px">12px</mat-option>-->
<!--                <mat-option value="14px">14px</mat-option>-->
<!--                <mat-option value="16px">16px</mat-option>-->
<!--                <mat-option value="18px">18px</mat-option>-->
<!--                <mat-option value="20px">20px</mat-option>-->
<!--              </mat-select>-->
<!--            </mat-form-field>-->
<!--            <mat-form-field>-->
<!--              <mat-label>Tipo de puesto</mat-label>-->
<!--              <mat-select #fontSize value="16px" >-->
<!--                <mat-option value="10px">10px</mat-option>-->
<!--                <mat-option value="12px">12px</mat-option>-->
<!--                <mat-option value="14px">14px</mat-option>-->
<!--                <mat-option value="16px">16px</mat-option>-->
<!--                <mat-option value="18px">18px</mat-option>-->
<!--                <mat-option value="20px">20px</mat-option>-->
<!--              </mat-select>-->
<!--            </mat-form-field>-->
<!--          </mat-list>-->
<!--        </mat-card-content>-->
<!--      </mat-card>-->
<!--    </div>-->

<!--  </mat-grid-tile>-->
<!--  <mat-grid-tile colspan="3" >-->
<!--    <div style="display: flex; flex-direction: column; align-items: center; width: 100%; height: 100%; justify-content: flex-start">-->
<!--      <div style="width: 90%!important; display: flex; align-items: center;">-->
<!--        <form class="example-form" >-->
<!--          <mat-form-field class="example-full-width">-->
<!--            <input type="text" matInput [formControl]="emailFormControl" placeholder="Puesto, empresa o palabra clave.">-->
<!--            <mat-error *ngIf="emailFormControl.hasError('required')">-->
<!--              Debe escribir algo para buscar <strong>required</strong>-->
<!--            </mat-error>-->
<!--          </mat-form-field>-->
<!--        </form>-->
<!--        <button mat-flat-button style="margin: 10px; background-color: #225AAE; color: white">BUSCAR</button>-->
<!--      </div>-->
<!--      <div style="width: 90%;">-->
<!--        <mat-card class="example-card" style="width: 100%;">-->
<!--          <mat-card-header>-->
<!--            <mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
<!--            <mat-card-title>Shiba Inu</mat-card-title>-->
<!--          </mat-card-header>-->
<!--          <mat-card-content>-->
<!--            <p>This card has divider and indeterminate progress as footer</p>-->
<!--            <mat-divider></mat-divider>-->
<!--          </mat-card-content>-->
<!--          <mat-card-actions>-->
<!--            <button mat-button>LIKE</button>-->
<!--            <button mat-button>SHARE</button>-->
<!--          </mat-card-actions>-->
<!--          <mat-card-footer>-->
<!--            &lt;!&ndash;          <mat-progress-bar mode="indeterminate"></mat-progress-bar>&ndash;&gt;-->
<!--          </mat-card-footer>-->
<!--        </mat-card>-->
<!--      </div>-->
<!--    </div>-->
<!--  </mat-grid-tile>-->
<!--</mat-grid-list>-->
<!--<p>candidate works!</p>-->
