.example-spacer {
  flex: 1 1 auto;
}

.btn-filters{
  width: 100%;
  margin-bottom: 10px;
  background-color: white;
  color: black;
}

.card-filters{
  background-color: #1954AE;
  color: white;
}

.card-img-mobile{
  display: none;
}

.job-offer-card{
  max-width: 80%;
}

@media (max-width: 991px) {
  .card-img-mobile{
    display: block;
    max-height: 300px;
  }
  .card-img-normal{
    display: none;
  }
  .job-offer-card{
    max-width: 100%;
  }
}
