<div class="container">

  <h2>Lista de Candidatos</h2>
  <ul class="list-group row row-cols-2">
    <div class="col">
      <li *ngFor="let candidate of candidates" class="list-group-item">
        <div class="d-flex align-content-center">
          <img class="rounded-circle" [src]="candidate.profilePicture" alt="Profile Picture" style="height: 25px; margin-right: 10px">
          <h5 style="margin: 0; margin-right: auto">{{ candidate.firstName }} {{ candidate.lastName }}</h5>
          <input [(ngModel)]="candidate.checked" (change)="updateCheckedList()" class="form-check-input" type="checkbox" id="checkbox">
        </div>
      </li>
    </div>
  </ul>


  <form #jobForm="ngForm" class="row">
    <div>
      <h2>Enlace de entrevista:</h2>
      <input type="text" class="input-group-text form-control " name="link-input" [(ngModel)]="interviewLink" required>
    </div>
    <div class="col form-group">
      <h2>Fecha de entrevista:</h2>
      <input class="input-group-text form-control" type="date" style="margin-right: 10px" id="start" name="date-input" [(ngModel)]="selectedDate" [min]="actualDate" required>
    </div>
    <div class="col">
      <h2>Hora de entrevista:</h2>
      <input class="input-group-text" type="time" id="appt" name="time-input" [(ngModel)]="selectedTime" required>
    </div>
  </form>
  <div class="d-flex justify-content-around">
    <button type="submit" [disabled]="jobForm.invalid || checkedIds.length==0" class="btn bg-primary text-white" (click)="saveInterview()">{{!isEdit?"Agendar":"Guardar cambios"}}</button>
    <button class="btn bg-primary text-white" (click)="cleanForm()">Limpiar</button>
  </div>

  <h2>Lista de entrevistas agendadas</h2>
  <ul class="list-group">
    <div class="col">
      <li *ngFor="let interview of interviews" class="list-group-item">
        <div class="d-flex align-content-center justify-content-between" (click)="loadInterview(interview)">
          <h5>{{interview.date}}</h5>
          <h5>{{interview.time}}</h5>
        </div>
      </li>
    </div>
  </ul>

</div>


